/* ==========================================================================
   #TEXT
   ========================================================================== */

/**
 * The text utilities file contains many helper classes for text;
 *
 * This includes `text-transform`, `font-` styles, alignment and spacing,
 * and the text style and responsive text style class generation, using the
 * global-text-map from _settings.text.scss.
 */

/* stylelint-disable max-nesting-depth */

// Style helpers

.u-capitalize {
    text-transform: capitalize;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-italic {
    font-style: italic;
}

// Weight helpers

.u-bold {
    font-weight: 600;
}

.u-reset-line-height {
    line-height: 1;
}

.text-highlight {
    background-color: #ffd3006e;
    padding: 0 5px;
}

.u-pullquote {
    font-weight: 700;
    font-size: 32px;
}
