/* ==========================================================================
   #FONT
   ========================================================================== */

/**
 * Font helpers
 */

.u-font-primary {
    font-family: $font-primary;
}

.u-font-secondary {
    font-family: $font-secondary;
}
