/* ==========================================================================
   #POSITION
   ========================================================================== */

/**
 * The position utilities file contains positioning helper classes;
 *
 * This includes `position` attribute, as well as horizontal centering.
 */

.u-absolute {
    position: absolute;
}

.u-relative {
    position: relative !important;
}

.u-overflow-hidden {
    overflow: hidden;
}

.u-float-right {
    float: right;
}
