/* ==========================================================================
   #FONT
   ========================================================================== */

/**
 * Font helpers
 */

.u-font-primary {
    font-family: $font-primary;
}

.u-font-primary-bold {
    font-family: $font-primary-bold;
}

.u-font-secondary {
    font-family: $font-secondary;
}

.u-font-secondary-bold {
    font-family: $font-secondary-bold;
}

.u-font-heading {
    font-family: $font-heading;
}
