/* ==========================================================================
   #FONTS
   ========================================================================== */

@font-face {
    font-family: 'adumuregular';
    src: url('~assets/fonts/adumu-webfont.woff2') format('woff2'),
         url('~assets/fonts/adumu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-din_expregular';
    src: url('~assets/fonts/d-dinexp-webfont.woff2') format('woff2'),
         url('~assets/fonts/d-dinexp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-din_expdinexp-bold';
    src: url('~assets/fonts/d-dinexp-bold-webfont.woff2') format('woff2'),
         url('~assets/fonts/d-dinexp-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-dindin-bold';
    src: url('~assets/fonts/d-din-bold-webfont.woff2') format('woff2'),
         url('~assets/fonts/d-din-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'd-dinregular';
    src: url('~assets/fonts/d-din-webfont.woff2') format('woff2'),
         url('~assets/fonts/d-din-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
