/* ==========================================================================
   #Buttons
   ========================================================================== */

/**
 * Simple default styling for buttons.
 *
 */

.btn {
    border: 0;
    clip-path: polygon(90% 0, 100% 18%, 98% 94%, 0 100%, 1% 0);
    font-weight: 700;
    font-family: $font-primary-bold;
    font-size: 16px;
    padding: 15px 25px;

    &:hover {
        cursor: pointer;
    }

    @include mq($until: desk) {
        width: 100%;
    }
}
