/* ==========================================================================
   #HEIGHT
   ========================================================================== */

/**
 * The height utilities file contains heighting helper classes;
 *
 * This includes `height` attribute, as well as horizontal centering.
 */

.u-vh-100 {
    height: 100vh;
}

.u-h-100 {
    height: 100%;
}

.u-h-min-100 {
    height: 100%;
    min-height: 100vh;
}
