/* ==========================================================================
   #FONTS
   ========================================================================== */

/*
*  BASE FONTS
*/

$font-primary: 'Unna', sans-serif;
$font-secondary: 'Unna', serif;


/*
*  FONT SIZES
*/

$hero-header-font-size: 50px;
$hero-caption-font-size: 18px;
