html,
body {
    font-family: $font-primary;
    color: color('primary');
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
}

h2 {
    font-size: 50px;

    @include mq($until: desk) {
        font-size: 31px;
    }
}

.uk-link-toggle:focus .uk-link, .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
    color: inherit;
}
