/* ==========================================================================
   #HERO COMPONENT
   ========================================================================== */

.hero {
    background-image: url('../imgs/planet-hero.jpg');
    background-origin: content-box;
    background-position: bottom center;
    background-size: contain;

    @include mq($until: desk) {
        background-image: url('../imgs/planet-hero-mobile.jpg');
        background-position: center 70%;
    }
}

.hero__caption {
    font-size: 40px;
    transform: rotate(-11deg) translateX(120px);
    
    @include mq($until: desk) {
        font-size: 30px;
        transform: rotate(-11deg) translateX(0);
    }
}

.hero__lockup {
    transform: translateX(-100px);

    @include mq($until: desk) {
        transform: translateX(0);
    }
}

.hero__cta {

    @include mq($until: desk) {
        margin-top: 200px;
    }
}

.hero__cta--campaign {

    @include mq($until: desk) {
        display: block;
        margin-bottom: 10px;
    }
}

.hero__photo-credit {
    color: rgba(color('white'), .5);
    padding: 20px 0 20px 30px;

    @include mq($until: desk) {
        padding: 0 0 20px 0;
        text-align: center;
    }
}
