/* ==========================================================================
   #SIGN PETITION COMPONENT
   ========================================================================== */

.sign-the-petition {
    background-image: url('../imgs/bird-bg.jpg');
    min-height: 500px;
    overflow-x: hidden;
    position: relative;

    &:before {
        background-color: color('white');
        content: '';
        height: 50px;
        left: 0;
        position: absolute;
        top: 0;
        transform: rotate(1deg) translate3d(-10px, -20px, 0);
        width: 110%;
    }
}
