/* ==========================================================================
   #SIGN PETITION COMPONENT
   ========================================================================== */

.sign-the-petition {
    background-image: url('/src/assets/imgs/bird-bg.jpg');
}
