/* ==========================================================================
   #POLICAT COMPONENT
   ========================================================================== */

.policat__wrapper {
    position: relative;
    z-index: 5;
}
