/* ==========================================================================
   #FONTS
   ========================================================================== */

/*
*  BASE FONTS
*/

$font-primary: 'd-dinregular', sans-serif;
$font-primary-bold: 'd-dindin-bold', serif;
$font-secondary: 'd-din_expregular', sans-serif;
$font-secondary-bold: 'd-din_expdinexp-bold', serif;
$font-heading: 'adumuregular', serif;


/*
*  FONT SIZES
*/

$hero-header-font-size: 50px;
$hero-caption-font-size: 18px;
